@media screen and (max-width:776px){

  #bar{
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #bar img{
    width: 125px;
  }

  main{
    width: 95vw;
    text-align: center;
  }

  #container-intro{
    flex-direction: column;
  }
  
  #introduce-left img{
    width: 50vw;
    margin-top: 0px;
  }

  #introduce-left p{
    margin-top: 0px;
  }

  #introduce-left{
      height: 600px;
  }

  #introduce-left p{
    font-size: 1rem;
    width: 95vw;
  }

  #introduce-right{
    flex-direction: row;
    margin-left: auto;
    margin-left: 0px;
  }

  iframe{
    margin: auto;
    width: 45vw;
    height: 30vw;
  }

}