@media screen and (max-width:776px){

/* common */

h2{
  font-size: 2rem;
}

/* バックグラウンド */
.second-page{
  background-size: 100vw;
  height: 100%;
}


/* バー */

body{
  width: 97vw;
}

.second-body{
  background-image: url(../image/background_image.png);
  background-size: 250px;
  background-position: center 50px;
}

#bar{
  padding-top: 0px;
  padding-bottom: 3px;
}

#bar img{
  width: 125px;
}

/* グローバルナビゲーション */
.openbtn{
  top: -8px;
	right: 2px;
}

/*ヘッダー */

#header-image div{
  text-shadow: 15px 15px 10px #7a2b2b;
}


/* メイン */
main{
  width: 95vw;
  text-align: center;
}

/* イントロダクション */

#introduce{
  margin-top: 20px;
  /* width: 30px; */
}

#container-intro{
  display: block;
}

#introduce-left{
  height: 400px;
  width: 90vw;
  margin: 0 auto 20px;
}

#introduce-left img{
  width: 230px;
  display: none;
}

#introduce-left-text{
  position: static;
  text-align: justify;
}

#introduce-left p{
  font-size: 0.7rem;
}

#introduce-right{
  flex-direction: row;
}

iframe{
  width: 420px;
  height: 250px;
  margin: 0 auto;
}

iframe + iframe{
  display: none;
}

#introduce{
  margin-bottom: 30px;
}

/* ディスコグラフィ */
#discography{
  margin-top: 60px;
}

.container-disco{
  flex-direction: column;
}

.container-disco img{
  margin: 0 auto;
}

.flex-item-text{
  width: 90vw;
  margin-top: auto;
}

.flex-item-text-title{
  display: block;
}

.flex-item-text-title time{
  font-size: 0.8rem;
}

.flex-item-text p{
  text-align: justify;
}

h3{
  margin: 10px 0px 6px 0px;
  font-size: 1rem;
}

/* LIVE */

#live-main{
  text-align: center;
  margin-top: 50px;
}

/* NEWS */

#news-main{
  text-align: center;
  margin-top: 50px;
}

/* TV */

#tv-main{
  text-align: center;
  margin-top: 50px;
}

/* CONTACT */
#contact-main{
  text-align: center;
  margin-top: 50px;
}

/* フッター */
footer{
  margin: 0 15px;
}

#footer-sns-logo img{
  width: 25px;
}

#footer-sns-logo{
  padding-bottom: 15px;
  width: 115px;
}

#footer-vaundy-img{
  width: 15px;
  height: 33px;
  margin-top: 30px;
}

#copy-right{
  font-size: 0.6rem;
  margin-top: 35px;
}


/*アコーディオンのcss*/
/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 80vw;
  margin: 0 0 40px;
}

.title{
  font-size: 0.7rem;
}

.title time{
  display: none;
}

.title-box{
  width: 90%;
}

.box img{
  float: none;
  width: 250px;
  margin: 10px;
}

.box p{
 font-size: 0.7rem;
}

/* コンタクトフォーム */

form{
  width: 250px;
  margin: 0 auto 60px;
}

form input{
  width: 300px;
  height: 30px;
  font-size: 0.8rem;
}

form textarea{
  width: 300px;
  height: 200px;
  font-size: 0.8rem;
}

form p{
  font-size: 0.7rem;
  margin: 5px auto;
}

form span{
  font-size: 0.5rem;
  margin-left: 10px;
}


#btn_post{
  width: 80px;
  height: 40px;
  font-size: 0.7rem;
  padding: 5px;
}

#post-button{
  margin: 10px 0 0 110px;
}


}